.slide p, .slide li, .slide ol {
  font-size: 100%;
  line-height: 1.2em;

  /* smaller margin */
    margin-top: 2px ;
    margin-bottom: 2px ;
    padding-top: 2px ;
    padding-bottom: 2px ;	
}

.foot a, .foot img{
  position: relative;
  float: right;
  margin-top: 300px;
  /*margin-right: 2px;*/
  padding-right: 2px;
  z-index: 10;
  text-decoration: none;
}

.compact p, li, ol {
  font-size: 90%;
  line-height: 1.1em;

  /* line wrapping */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */	

  /* smaller margin */
    margin-top: 2px ;
    margin-bottom: 2px ;
    padding-top: 2px ;
    padding-bottom: 2px ;	
}

.compact-nowrap p, li, ol {
  font-size: 90%;
  line-height: 1.1em;

  /* smaller margin */
    margin-top: 2px ;
    margin-bottom: 2px ;
    padding-top: 2px ;
    padding-bottom: 2px ;	
}

pre code {
  font-weight: 500;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  /* line wrapping */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */	

  /* smaller margin */
    margin-top: -6px ;
    margin-bottom: -6px ;
    padding-top: -6px ;
    padding-bottom: -6px ;	
}

/* Smaller code fonts in modal popup */
  .modal pre code {
    font-size: 20px;
    line-height: 1.2em;	
    
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */	
    
    margin-top: -10px ;
    margin-bottom: -10px ;
    padding-top: -10px ;
    padding-bottom: -10px ;	
    
  }

  .scode pre code {
    font-size: 16px;
    line-height: 1.1em;	
    
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */	
    
    margin-top: -10px ;
    margin-bottom: -10px ;
    padding-top: -10px ;
    padding-bottom: -10px ;	
  }  
  
  .scode-nowrap pre code {
    font-size: 16px;
    line-height: 1.1em;	
    
    margin-top: -10px ;
    margin-bottom: -10px ;
    padding-top: -10px ;
    padding-bottom: -10px ;	
  }    
  
  .sscode pre code {
    font-size: 14px;
    line-height: 1em;	
    
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */	
    
    margin-top: -20px ;
    margin-bottom: -20px ;
    padding-top: -20px ;
    padding-bottom: -20px ;	
  }   
  
  .ssscode pre code {
    font-size: 12px;
    line-height: .9em;	
    
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */	
    
    margin-top: -20px ;
    margin-bottom: -20px ;
    padding-top: -20px ;
    padding-bottom: -20px ;	
  }     